body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

.nav {
  display: flex;
  background: #333;
  padding: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.nav a:hover {
  color: #ffca28;
}